@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans&display=swap');
html, body{
      margin: 0;
      background-image: linear-gradient(to right bottom, #f47abf, #ff8094, #ff966e, #f0b258, #cacc60, #b2d975, #97e491, #7beeb1, #76f2c4, #74f6d6, #77fae6, #7ffdf5);
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      overflow: hidden;
}

header{
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      animation: moveWelcomeScreen 1s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
      background-image: linear-gradient(to right bottom, #7e6dee, #0099ff, #00baff, #00d2ea, #00e5c6, #17ecbc, #35f3af, #51f99f, #42fbb8, #3efbce, #48fce0, #5dfbef);
      display: flex;
      align-items: center;
      justify-content: center;
}
h1{
      font-family: "Bowlby One SC";
      font-weight: normal !important;
      font-size: 4em;
      animation: titleAnimation 4s ease-in-out;
}
p{
      font-family: "Open Sans";
}
header div{
      text-align: center;
      color: white;
      text-shadow: 0px 0px 5px #000000cc;
}

main{
      background: #ffffff99;
      border-radius: 10px;

      width: 1280px;
      max-width: 90%;
      
      height: 80%;

      margin: 5% auto;

      font-family: "Open Sans";
      position: relative;
}

main form section{
      position: absolute;
      width: 95%;
      height: 95%;
      top: 2.5%;
      left: 2.5%;

      background: #10a25e;
      color: #02311b;
      text-align: center;

      display: none;

      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.naam{
      font-family: "Open Sans";
      font-size: 5em;
      font-weight: bold;
      color: white;

      text-shadow: 0px 1px 2px #000000bf;
}

.keuze{
      display: flex;
      flex-direction: row;
      align-items: center;
}

.keuze div{
      display: inline-block;
      padding: 10px;
      font-size: 1.5em;
      font-weight: bold;
      margin: 10px;
}

.keuze div input[type="radio"]{
      background: transparent;
      border: solid 2px #285421;
}

.keuze div:first-child{
      background: #0fabff;
      color: #034c74;
}

.keuze div:nth-child(2){
      background: #ce52ff;
      color: #711f92;
}

.keuze div:nth-child(3){
      background: #fffc66;
      color: #706f31;
}

.answers{
      position: absolute;
      width: 95%;
      height: 95%;
      top: 2.5%;
      left: 2.5%;

      background: #6bcf68;
      color: #02311b;
      text-align: center;

      display: none;

      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.answers h2{
      font-size: 2.5em;
      color: white;
      text-shadow: 0px 1px 2px #000000b3;
}

.answers #content{
      display: flex;
      justify-content: center;
      flex-direction: row;

      position: relative;
      width: 75%;
}

.answers #content .correct{
      position: relative;
      width: 50%;

      font-size: 1.4em;
      color: white;      
      text-shadow: 0px 1px 2px #000000b3;
}
.answers #content .wrong{
      position: relative;
      width: 50%;

      font-size: 1.4em;
      color: white;      
      text-shadow: 0px 1px 2px #000000b3;
}
.answers #content .correct h2{
      display: block;
      font-size: 2em;
      color: white;
      text-shadow: 0px 1px 2px #000000b3;
      
      border-bottom: dashed 2px #9fdd9d;
}

.answers #content .wrong h2{
      display: block;
      font-size: 2em;
      color: white;
      text-shadow: 0px 1px 2px #000000b3;

      border-bottom: dashed 2px #df8b8b;
}
.exitCard{
      animation: cardExit .25s ease-in-out;
      animation-fill-mode: forwards;
}

.introCard{
      animation: cardIntro .25s ease-in-out;
      animation-fill-mode: forwards;
}


@keyframes moveWelcomeScreen{
      0%{
            transform: translateY(0%);
      }
      30%{
            transform: translateY(5%);
            opacity: 1;
      }
      100%{
            transform: translateY(-100%);
            opacity: 0;
      }
}

@keyframes titleAnimation{
      0%{
            transform: rotate(0deg) scale(1);
      }
      60%{
            transform: rotate(25deg) scale(1.4);
      }
      75%{
            transform: rotate(-25deg) scale(1.4);
      }
      100%{
            transform: rotate(0deg) scale(1);
      }
}

@keyframes cardIntro{
      from{
            transform: scale(0.1);
            opacity: 0;
      }
      to{
            transform: scale(1);
            opacity: 1;
      }
}

@keyframes cardExit{
      from{
            transform: scale(1);
            opacity: 1;
      }
      to{
            transform: scale(2);
            opacity: 0;
      }
}